#containerMenu {
  background-color: rgb(68, 62, 62, 0.95);
  width: 100%;
  padding-left: 20px;
  color: white;
  height: 100vh;
  position: fixed;
  top: 0px;
  z-index: 8;
}

.links-Menu {
  color: antiquewhite;
  text-decoration: none;
  cursor: pointer;
}

#closeMenu {
  display: flex;
  justify-content: right;
  color: rgb(202, 46, 46);
  cursor: pointer;
  font-size: xx-large;
  padding-right: 50px;
  padding-top: 40px;
  width: fit-content;
}

#linksMenu {
  display: flex;
  flex-direction: column;
  background-color: rgb(68, 62, 62, 0);
  width: fit-content;
  height: 200px;
  gap: 15px;
  padding: 40px;
}